@font-face {
  font-family: "iconfont"; /* Project id 3817124 */
  src: url('//at.alicdn.com/t/c/font_3817124_17teqqcme8u.woff2?t=1670506899166') format('woff2'),
       url('//at.alicdn.com/t/c/font_3817124_17teqqcme8u.woff?t=1670506899166') format('woff'),
       url('//at.alicdn.com/t/c/font_3817124_17teqqcme8u.ttf?t=1670506899166') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e67d";
}
